body{
	background-image:url("pics/BG2.png");
	Height:1200px;
}
#header{
	height:50px;
}
#base{
	margin: auto;
	width:600px;
	height:600px;
	border: 2px solid black;
	border-style: double;
}	
#button1{
	width: 300px;
	text-align:center;
	height: 150px;
	Background: Red;
	float:left;
	color: white;
	font-size: 24px;
	font-family:impact;
}
#button2{
	width: 299px;
	height: 150px;
	text-align:center;
	Background: Blue;
	float: left;
	color: white;
	font-size: 24px;
	font-family:impact;
}
#button3{
	width: 300px;
	height: 150px;
	text-align:center;
	Background: Black;
	float: left;
	color: white;
	font-size: 24px;
	font-family:impact;
}
#button4{
	width: 300px;
	height: 150px;
	text-align:center;
	Background: Green;
	float: left;
	color: white;
	font-size: 24px;
	font-family:impact;
}
#empty{
	float:left;
	width:600px;
	height:70px;
	background-color:#ECF8E0;
	text-align:right;
}
#question{
	text-align: center;
	font-size: 24px;
	font-family:impact;
	float:left;
	width:600px;
	height:200px;
	background-image:url("pics/king0.jpg");
}
#welcome{
	vertical-align: text-bottom;
	text-align: center;
	font-size: 24px;
	font-family:impact;
	float:left;
	width:600px;
	height:200px;
	background-color:#ECF8E0;	
}
#list{
	position: absolute;
	top: 200px;
	left: 20px;
}
#time{
	float:left;
	width:200px;
	height:30px;
	font-size:24px;
	font-family:impact;
	background-color:white;
}
#points{
	float:left;
	height:30px;
	font-size:24px;
	font-family:impact;
	width:200px;
	background-color:grey;
}
#goButton{
	height:70px;
	width: 120px;
	z-index:1;
	font-size: 24px;
}
#level{
	float:left;
	height:30px;
	width:200px;
	font-size:24px;
	font-family:impact;
	background-color:#eeeeee;
}
#visitors{
	width:100%;
	text-align:right;
	
}
/*STYLES FOR CSS POPUP*/
.ui-widget-header,.ui-state-default, ui-button{
            background:Green;
            color: black;
            font-weight: bold;
			
         }